In [ ]:
# ==========================================
# DAY 1: Variables, Data Types, Basic Operations
# DATE: [Today's date]
# GOAL: Understand Python basics and write first programs
# ==========================================

# I'll add my practice code below...

In [8]:
# 1. VARIABLES - Store information
name = "Anje"
age = 30
height = 5.3
is_student = True

print(name)
print(age)
print(height)
print(is_student)

Anje
30
5.3
True

In [ ]:
# 2. DATA TYPES - Python figures these out automatically

# String (text)
message = "Hello World"
print(type(message))  # <class 'str'>

# Integer (whole number)
score = 100
print(type(score))    # <class 'int'>

# Float (decimal)
price = 19.99
print(type(price))    # <class 'float'>

# Boolean (True/False)
is_active = True
print(type(is_active))  # <class 'bool'>

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [6]:
# 3. MATH OPERATIONS

x = 10
y = 3

print("Addition:", x + y)        # 13
print("Subtraction:", x - y)     # 7
print("Multiplication:", x * y)  # 30
print("Division:", x / y)        # 3.333...
print("Integer Division:", x // y)  # 3 (rounds down)
print("Remainder:", x % y)       # 1
print("Power:", x ** y)          # 1000 (10^3)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Integer Division: 3
Remainder: 1
Power: 1000

In [11]:
#Excercise
#Your age in months
age_year =30
age_months=age_year*12
print(age_months)
#Your age in days (approximate)
age_days=age_year *365
print(age_days)
#How many years until you're 100
years_to_100=100-age_year
print(years_to_100)

360
10950
70